@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: local('☺'), url('../fonts/Lato-Light.ttf') format('truetype'), url('../fonts/Lato-Medium.ttf') format('truetype'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Thin.svg') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #fff;
	font-family: 'Lato';
	margin: 0;
}
img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}
/*----------------------------- Login --------------------------------*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #ff8533;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
	border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ff8533;
		opacity: 0.9;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
   }
}

/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #eee;
	border-bottom: 1px solid #e6e6e6;
	padding: 18px 0;
}
#header > div, #footer > div {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	padding-left : 20px;
}
/** Logo **/
#header .logo {
	float: left;
	margin-right: 20px;
}
#header .logo a {
	background: url(../images/logo.png) no-repeat;
	color: #000;
	display: block;
	font: 30px/45px 'Lato';
	height: 50px;
	width: 80px;
	padding-top: 68px;
	padding-left: 30px;
	text-decoration: none;
	text-transform: uppercase;
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 80px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 390px;
	text-align: right;
}
#navigation li h1 {
	color: #f99600;
	font-size: 25px;
	line-height: 40px;
	padding-top : 20px;
	text-decoration: none;
}
#navigation li a {
	color: #818181;
	font-size: 20px;
	line-height: 30px;
	padding-right : 20px;
	padding-left : 20px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #000;
}
#navigation li.active a {
	color: #f99600;
}
#adbox {
	background: url(../images/bg-adbox.jpg) repeat-x left top;
	height: 400px;
	padding: 60px 0;
}
#adbox > div {
	width: 800px;
	margin: 0 auto;
	padding: 0 80px;
}
#adbox > div img {
	float: right;
	margin-left: 60px;
}
#adbox h1, #adbox h2 {
	color: #2c2c2c;
	font-size: 60px;
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}
#adbox h2 {
	font-size: 30px;
	line-height: 36px;
	text-transform: none;
}
#adbox p {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}
#adbox p span {
	display: block;
	font-size: 12px;
	width: 360px;
	padding: 24px 0;
	text-align: center;
}
#adbox p span b {
	font-weight: normal;
	display: block;
	width: 256px;
}

/*----------------------------------------------Logged in-----------------------------------------------------*/

#listele {
	display: inline-block;
	font-size: 22px;
	padding-top: 5px;
}
#items{
	display: inline-block;
	color: #2c2c2c;
	text-decoration: none;
}
#items li a{
	color: #2c2c2c;
	text-decoration: none;
}
#listlink{
	display: inline-block;
	font-size: 18px;
}
#links{
	display: inline-block;
	color: #818181;
	list-style: none;
	text-decoration: none;
}
#links ul{
	display: inline;
	float: left;
	color: #818181;
	list-style: none;
	text-decoration: none;
}
#links ul li{
	display: inline;
}
#links li a{
	color: #818181;
	text-decoration: none;
}
/*---------------------------------------------upload-box-----------------------------------------------*/
#upload-box{
	background: url(../images/bg-adbox.jpg) repeat-x left top;
	height: 600px;
	width: 1000px;
	padding: 60px 0;
}
#upload-box > div {
	width: 800px;
	margin: 0 auto;
	padding: 0 80px;
}

#form-style{
	font-size: 22px;
	color: #2c2c2c;
	line-height: 36px;
	text-transform: none;
}
#form-style input[type=text], select,textarea {
    width: 100%;
	font-family:Lato-Light; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*------------------------------searcg-list------------------------------------*/
#search-box{
	background: url(../images/bg-adbox.jpg) repeat-x left top;
	height: 800px;
	width: 1000px;
	padding: 50px 0;
}
#search-box > div {
	width: 700px;
	margin: 0 auto;
	padding: 0 80px;
}
#myInput {
  background-image: url(../images/search.png);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#customers {
    font-family: Lato;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff8533;
    color: white;
}

/*------------------------------ CONTENTS -------------------------------------*/
#contents {
	min-height: 310px;
	width: 840px;
	margin: 0 auto;
	padding: 54px 40px;
}
h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 400px;
	margin: 0 20px;
}

#about {
	width: 740px;
	margin: 0 auto;
}
#about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	background-color: #eee;
	border-top: 1px solid #d8d8d8;
	padding: 30px 0;
}
#footer p {
	font-size: 12px;
	line-height: 30px;
	padding-left: 10px;
}
#connect {
	float: right;
	display: inline-block;
	margin-right: 30px;
}
#connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 0 10px;
}
}
